.popup-finance-top-up {
  .popup__content {
    max-width: 370px;
    @media (max-width: 767.98px) {
      margin: 15px;
      align-self: stretch;
      display: flex;
      flex-direction: column;
    }
  }

  &__main {
    @media (max-width: 767.98px) {
      margin: auto 0;
    }
  }

  &__icon {
    width: fit-content;
    font-size: 32px;
    color: $blue;
    margin: 0 auto 16px;
    @media (max-width: 767.98px) {
      margin-bottom: 24px;
      font-size: 42px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 8px;
    @media (max-width: 767.98px) {
      margin-bottom: 16px;
    }
  }

  &__descr {
    text-align: center;
    color: $middleGray;
    margin-bottom: 30px;
    @media (max-width: 767.98px) {
      margin-bottom: 24px;
    }
  }

  &__input-block {
  }

  &__input-box {
    display: flex;
    align-items: flex-end;
    column-gap: 15px;
  }

  &__input {
    flex: auto;
  }

  &__sign {
    color: $middleGray;
  }

  &__btns {
    margin-top: 30px;
  }

  &__btn {
  }
}
