.btn {
    font-weight: 600;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid transparent;
    display: block;
    width: 100%;

    &:focus {
    }
    &:active {
    }
    &:disabled {
        background: $background;
        border-color: $background;
        color: $lightGray;
        cursor: not-allowed;
    }
    &-primary {
        padding: 14px;
        border-radius: 10px;
        background: $blue;
        border: 1px solid $blue;
        color: $white;
        &:not(:disabled):hover {
            background: $lightBlue;
            border: 1px solid $lightBlue;
        }
    }
    &-secondary {
        padding: 14px;
        border-radius: 10px;
        background: $white;
        border: 1px solid $blue;
        color: $blue;
        &:not(:disabled):hover {
            background: $lightBlue;
            border: 1px solid $lightBlue;
            color: $white;
        }
    }
    &-green {
        padding: 14px;
        border-radius: 10px;
        background: $green;
        border: 1px solid $green;
        color: $white;
    }
    &-contour {
        &:hover {
        }
    }
    &-filter {
        &:hover {
        }
    }
}
