.card-related-groups {
   border-radius: 10px;
   border: 1px solid $lightGray;
   padding: 12px;
   &__section {
   }

   &__title {
      margin-bottom: 15px;
      span {
         color: $blue;
      }
   }

   &__items {
   }
   .card-child-profile {
      padding: unset;
      &:not(:last-child) {
         margin-bottom: 15px;
      }
      &__name {
         line-clamp: 2;
         -webkit-line-clamp: 2;
         word-break: normal;
         margin-bottom: 5px;
         @media (max-width: 767.98px) {
            line-clamp: 1;
            -webkit-line-clamp: 1;
            word-break: break-all;
         }
      }
   }
}
