.child-profile {
   flex: 1 1 auto;
   overflow-y: auto;
   @media (max-width: 767.98px) {
      padding: 20px 10px;
   }

   &__section {
      &:not(:last-child) {
         margin-bottom: 25px;
         @media (max-width: 767.98px) {
            margin-bottom: 28px;
         }
      }
   }

   &__title {
      margin-bottom: 22px;
   }

   &__add {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      font-size: 14px;
      background: $white;
      margin-left: 12px;
      @media (max-width: 767.98px) {
         width: 24px;
         height: 24px;
         background: $blue;
         color: $white;
         font-size: 10.5px;
         margin-left: 4px;
      }
   }

   &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-gap: 22px 20px;
      @media (max-width: 767.98px) {
         grid-template-columns: 1fr;
         grid-gap: 14px;
      }
   }
}
