$lightGray: #d5daea;
$middleGray: #afb8d6;
$blue: #0968ff;
$green: #15a808;
$ff: #d5daea;
$background: #f4f5f8;
$black: #000000;
$red: #ff3131;
$white: #ffffff;

$shadowMain: 0px 0px 18px 2px rgba(0, 0, 0, 0.13);
$shadowModal: 2px 4px 10px rgba(0, 0, 0, 0.15);
.h1 {
   font-size: 36px;
   font-weight: bold;
}
.h2 {
   font-size: 22px;
}
.h3 {
   font-size: 18px;
}
.h4 {
   font-size: 14px;
}
.h5 {
   font-size: 10px;
}
.h6 {
   font-size: 9px;
}
