.file-manager-sorting-mobile {
   @media (min-width: 768px) {
      display: none;
   }
   &__item {
      width: 28px;
      height: 28px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $lightGray;
      display: none;
      &.active {
         display: flex;
      }
   }
   &__grid {
      font-size: 11px;
   }
   &__line {
      font-size: 18px;
   }
}
