// Страница регистрации, блок вход
.entrance {
   display: flex;
   position: relative;
   background: $background;
   &__leftside {
      width: 30%;
      height: 100vh;
      @media (max-width: 767.98px) {
         display: none;
      }
   }

   &__logo {
      padding: 30px 50px 50px 30px;
      max-width: 300px;
      position: relative;
      z-index: 10;
   }
   &__logo--mobile {
      display: none;
      @media (max-width: 767.98px) {
         display: block;
      }
   }

   &__bg {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 88%;
      transition: .25s ease-out;
      img {
         max-width: unset;
         height: 100%;
      }
   }

   &__rightside {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 10;
      width: 70%;
      background: $white;
      box-shadow: -5px 0px 30px rgba(0, 0, 0, 0.1);
      border-radius: 25px 0px 0px 25px;
      @media (max-width: 767.98px) {
         width: 100%;
         border-radius: unset;
      }
   }

   &__topline {
      padding: 30px 50px;
      text-align: center;
      position: relative;
      margin-bottom: 10px;
      @media (max-width: 767.98px) {
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 22px;
         margin: unset;
         height: 75px;
         box-shadow: 0px 0px 15px rgba(213, 218, 234, 0.5);
      }
   }

   &__back {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      font-size: 20px;
      color: $blue;
      @media (max-width: 767.98px) {
         left: 22px;
         font-size: 20px;
      }
   }

   &__title {
      @media (max-width: 767.98px) {
         display: none;
      }
   }

   &__content {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      padding: 0 30px;
      @media (max-width: 767.98px) {
         padding: unset;
      }
   }

   &__input-container {
      margin-bottom: 23px;
      @media (max-width: 767.98px) {
         margin-bottom: 16px;
      }
      .input__block {
         &:not(:last-child) {
            margin-bottom: 23px;
            @media (max-width: 767.98px) {
               margin-bottom: 18px;
            }
         }
      }
   }

   &__info {
      color: #bfbfbf;
   }

   &__subtitle {
      text-align: center;
      margin-bottom: 30px;
   }
   &__descr {
      text-align: center;
      margin-bottom: 30px;
   }
   &__descr--gray {
      color: $middleGray;
   }
   &__descr--left {
      text-align: left;
   }
   &__radio-block {
      margin-bottom: 15px;
      .card-reg-radio:not(:last-child) {
         margin-bottom: 15px;
      }
   }
   &__message {
      text-align: center;
      color: $blue;
   }
   &__btn-enter-email {
      @media (max-width: 767.98px) {
         margin: unset;
      }
   }
}
// логин
.entrance {
   &__forgot-pass {
      display: block;
      text-decoration-line: underline;
      color: $middleGray;
      width: max-content;
      margin: 0 auto;
      margin-bottom: 23px;
      @media (max-width: 767.98px) {
         margin-bottom: 16px;
      }
   }
   &__forgot-pass--error {
      color: $blue;
      &:hover {
         color: $lightBlue;
      }
   }

   &__btn-login {
      margin-bottom: 23px;
      @media (max-width: 767.98px) {
         margin-bottom: 24px;
      }
   }

   &__or {
      margin-bottom: 23px;
      color: $lightGray;
      text-align: center;
      @media (max-width: 767.98px) {
         margin-bottom: 24px;
      }
   }
}
.entrance-login-filled {
   .input__box .icon-eye-closed {
      display: block;
   }
}
// логин конец

// смс
.entrance {
   &__input-container {
      margin-bottom: 10px;
   }
   &__btn-get-code:not(:last-child) {
      margin-bottom: 52px;
      @media (max-width: 767.98px) {
         margin-bottom: 10px;
      }
   }
   &__link-item {
      width: max-content;
      margin: 0 auto;
      margin-top: 10px;
   }
   &__link {
      color: blue;
      text-decoration-line: underline;
      &:hover {
         color: $lightBlue;
      }
   }
}
.entrance-login-sms {
   .entrance__tabs {
      // margin-bottom: 52px;
   }
   .entrance__input-container {
      margin-bottom: 10px;
   }
}
.entrance-login-sms--enter-code {
   .entrance__subtitle {
      margin-bottom: 10px;
   }
   .entrance__btn-get-code {
      margin-bottom: 10px;
   }
}
// шаги
.entrance--step-one {
   .entrance__bg {
      transform: translateX(0%);
   }
}
.entrance--step-two {
   .entrance__bg {
      transform: translateX(-21.4%);
   }
}
.entrance--step-three {
   .entrance__bg {
      transform: translateX(-39.7%);
   }
}
.entrance--step-four {
   .entrance__bg {
      transform: translateX(-57.7%);
   }
}
.entrance--step-five {
   .entrance__bg {
      transform: translateX(-75.9%);
   }
   background: url(/wp-content/uploads/2021/10/hit-item-bg.png) 0 0/100% 100% cover no-repeat;
}
// шаги конец
// смс конец

// Страница регистрации, блок вход  конец

// Страница регистрации, блок регистрация
.entrance-reg {
   .entrance__subtitle {
      margin-bottom: 20px;
   }
   .entrance__tabs {
      // margin: 30px 0 25px;
   }
   .entrance__input-container {
      margin-bottom: 15px;
      .input__block:not(:last-child) {
         margin-bottom: 15px;
      }
   }
   .btn:not(:last-child) {
      margin-bottom: 15px;
   }
}

.entrance-container--large {
   .entrance__container {
      max-width: 512px;
   }
}
// Страница регистрации, блок ркгистрация  конец

// Страница регистрации, блок восстановления пароля
.entrance-recovery {
   .entrance__radio-block .card-reg-radio:not(:last-child) {
      margin-bottom: 10px;
   }
   .entrance__input-container .input__block:not(:last-child) {
      margin-bottom: 10px;
   }
   .entrance__radio-block {
      margin-bottom: 10px;
   }
   .entrance__link-item {
      margin-top: 10px;
   }
   .entrance__subtitle {
      margin-bottom: 10px;
   }
   .entrance__sign-in {
      margin-top: 30px;
   }
}
// Страница регистрации, блок восстановления пароля конец

// Страница регистрации, блок подтверждения email
.entrance-email-confirmation {
   .entrance__subtitle {
      margin-bottom: 10px;
   }
}
// Страница регистрации, блок подтверждения email конец

// главная страница start
.main-page {
   .header__title {
      display: none;
      @media (max-width: 767.98px) {
         display: block;
      }
   }
}
// главная страница end

//  page chat start
.page-chat {
   .content {
      max-height: 100vh;
   }
   .body {
      overflow: hidden;
      @media (max-width: 767.98px) {
         padding: unset;
      }
   }
}
.chat {
   display: flex;
   align-items: stretch;
   margin-top: 15px;
   // margin-bottom: 28px;
   background: $white;
   width: 100%;
   border-radius: 25px;
   // height: 100%;
   @media (max-width: 767.98px) {
      margin-top: unset;
      border-radius: unset;
   }

   &__main {
      width: 71%;
      display: flex;
      flex-direction: column;
      @media (max-width: 991.98px) {
         width: 65%;
      }
      @media (max-width: 767.98px) {
         position: fixed;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         width: 100%;
         z-index: 100;
         height: 100vh;
         background: $lightGray;
         display: none;
         &.mobile-open {
            display: flex;
         }
         .chat__head {
            height: 75px;
            padding: 10px 10px 10px 0;
         }
      }
   }

   &__main--selected {
      .chat__head {
         position: relative;
      }
      .chat__head--selected {
         display: flex;
         @media (max-width: 767.98px) {
            display: flex;
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 60;
            height: 70px;
            top: unset;
         }
      }
   }
}
//  page chat end

// file manager
.page-file-manager {
   .content {
      height: 100vh;
      overflow: hidden;
   }
   .container {
      overflow: hidden;
   }
   .body {
      overflow: hidden;
      @media (max-width: 767.98px) {
         padding: unset;
      }
   }
   &--first-directory {
   }
}
.file-manager {
   background: #ffffff;
   border-radius: 25px;
   width: 100%;
   height: 100%;
   display: flex;
   overflow: hidden;
   @media (max-width: 767.98px) {
      border-radius: unset;
      background: $background;
   }
   &__head {
      height: 62px;
      border-bottom: 1px solid $background;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: none;
      @media (max-width: 767.98px) {
         height: 70px;
         padding: 5px 15px !important;
      }
   }
}

// file manager end
