// popup add file mobile start
.panel-add-file--mobile {
   position: absolute;
   left: 0;
   right: 0;
   bottom: calc(100% + 10px);
   background: $background;
   border-radius: 10px;
   padding: 10px 12.5px 18px;
   @media (min-width: 768px) {
      display: none;
   }
   .popup__content {
      margin: 15px;
      max-width: 345px;
   }
   &__photo-block {
      display: flex;
      overflow-x: auto;
      margin-bottom: 7px;
      justify-content: space-between;
   }

   &__items {
   }

   &__item {
      cursor: pointer;
      padding: 11px;
      border-bottom: 1px solid rgba(213, 218, 234, 0.2);
      text-align: center;
      color: $lightGray;
   }
}

// popup add file mobile end
