// popup add file
.popup-add-file {
   @media (max-width: 767.98px) {
      display: none;
   }
   .popup__content {
      max-width: 412px;
   }
   &__title {
      margin-bottom: 20px;
      text-align: center;
   }

   &__insert {
      width: 100%;
      height: 92px;
      background: url("../images/border-dashed-small.png") 0 0/100% 100% no-repeat;
      // border: 5px dashed $lightGray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
      padding: 10px;
   }

   &__insert-icon {
      font-size: 20px;
      color: $lightGray;
      margin-bottom: 12px;
   }

   &__insert-text {
      color: $lightGray;
   }

   &__or {
      color: $middleGray;
      margin-bottom: 20px;
      text-align: center;
   }

   &__buttons-block {
      display: flex;
      align-items: center;
      .btn {
         padding: 8.5px;
         &:not(:last-child) {
            margin-right: 30px;
         }
      }
   }

   &__btn-cancel {
   }

   &__btn-delete {
   }
   &.popup-add-file--items {
      .popup-add-file__insert {
         background: url("../images/border-dashed-large.png") 0 0/100% 100% no-repeat;
         height: unset;
         margin-bottom: 20px;
      }
      .popup-add-file__buttons-block .btn {
         padding: 14px;
      }
   }
   &__files {
      max-height: 176px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;
   }
   &__file {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px;
      background: $background;
      border-radius: 10px;
   }

   &__file-icon-doc {
      flex: none;
      font-size: 31px;
      color: $middleGray;
      margin-right: 15px;
   }

   &__file-text-block {
      flex: 1 1 auto;
   }

   &__file-name {
      margin-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      line-clamp: 1;
      box-orient: vertical;
      word-break: break-all;
   }

   &__file-weight {
      color: $middleGray;
   }
   &__manipulation {
      display: flex;
      align-items: center;
   }
   // &__btn-change,
   &__btn-delete {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $middleGray;
      position: absolute;
      top: 8px;
      right: 8px;
      background: $white;
      font-size: 8px;
      flex: none;
   }
   &__btn-delete--file {
      flex: none;
      width: 32px;
      height: 32px;
      font-size: 16px;
      position: static;
   }

   &__input {
      width: 100%;
      padding: 10px;
      background: $background;
      border-radius: 10px;
      margin-bottom: 20px;
      &::placeholder {
         color: $lightGray;
      }
   }
   &__images {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-columns: repeat(auto-fit, minmax(30%, 32%));
      gap: 4px;
      justify-content: center;
   }
   &__images-item {
      width: 100%;
      // height: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
   }
   &__img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__add-more {
      color: $blue;
      padding: 9.5px 22px;
      margin-top: 10px;
   }
   &__textarea {
      height: unset;
      margin-bottom: 15px;
   }
   &__file-name {
      margin-top: 7px;
   }
   &--achievement {
      &.popup-add-file--loaded {
         .popup-add-file__insert {
            background: none;
         }
      }
      .popup__content {
         @media (max-width: 575.98px) {
            margin: 15px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            min-height: calc(100vh - 30px);
            display: flex;
            flex-direction: column;
         }
      }
      .popup-add-file__buttons-block {
         @media (max-width: 575.98px) {
            margin-top: auto;
            flex-direction: column-reverse;
            row-gap: 10px;
            .btn {
               margin-right: unset;
            }
         }
      }
      .popup-add-file__buttons-block .btn {
         padding: 14px;
      }
      .popup-add-file__insert {
         min-height: 200px;
         height: unset;
      }
      .input__block {
         margin-bottom: 20px;
         .input__box {
            height: 35px;
         }
         .input {
            padding-top: 8px;
            padding-bottom: 8px;
         }
      }
      .popup-add-file__images-item {
         width: 170px;
         height: 180px;
         padding: unset;
      }
   }
   &--achievement-mobile {
      .popup__content {
         margin-top: auto;
         background: transparent;
         box-shadow: unset;
         margin: auto 10px 30px;
         padding: unset;
         border-radius: unset;
      }
   }
   &__options--mobile {
      background: $background;
      margin-bottom: 6px;
      border-radius: 10px;
   }
   &__options--mobile-item {
      display: block;
      text-align: center;
      width: 100%;
      color: $lightGray;
      padding: 12px;
      &:not(:last-child) {
         border-bottom: 1px solid rgba(213, 218, 234, 0.2);
      }
   }

   &__btn-cancel--mobile {
      background: $background;
   }
}

// popup add file end
