// popup exit
.popup-exit {
   .popup__content {
      max-width: 332px;
   }
   &__title {
      font-weight: 600;
      margin-bottom: 26px;
   }
   &__buttons-block {
      display: flex;
      justify-content: space-between;
      .btn:not(:last-child) {
         margin-right: 30px;
         @media (max-width: 767.98px) {
            margin-right: 12px;
         }
      }
   }
   .btn {
      padding: 9.5px;
   }
}
// popup exit end
