// поиск
.search-small {
   margin-bottom: 20px;
   position: relative;
   width: 100%;
   background: $background;
   border-radius: 25px;
   transition: 0.3s ease-in-out;
   .icon-search {
      position: absolute;
      color: $middleGray;
      top: 50%;
      transform: translateY(-50%);
      left: 25px;
      font-size: 18px;
      pointer-events: none;
   }
   &__input {
      width: 100%;
      padding: 7.5px 10px 7.5px 53px;
      font-size: 14px;
      &::placeholder {
         color: $middleGray;
      }
   }
   &__body {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: $background;
      box-shadow: $shadowModal;
      border-radius: 0px 0px 10px 10px;
      z-index: 40;
   }
   &__block {
      margin: 20px 25px 10px 20px;
      padding-right: 15px;
      padding-bottom: 10px;
      position: relative;
      border-bottom: 1px solid $middleGray;
   }
   &__title {
      margin-bottom: 4px;
   }
   &__name {
      color: $blue;
   }
   &__body-block-close {
      position: absolute;
      right: -5px;
      transform: translateY(-50%);
      top: 50%;
      padding: 5px;
      font-size: 10px;
      color: $middleGray;
      cursor: pointer;
   }
   &__container {
      max-height: 320px;
      overflow-y: auto;
      &::-webkit-scrollbar {
         width: 0;
      }
   }
   &.open {
      border-radius: 25px 25px 0px 0px;
   }
   &.closed {
      .search-small__head {
         width: 32px;
         height: 32px;
         overflow: hidden;
         cursor: pointer;
      }
      .search-small__input {
         display: none;
         max-width: 290px;
      }
      .icon-search {
         transform: translate(-50%, -50%);
         left: 50%;
         font-size: 14px;
         color: $lightGray;
      }
   }
}
// поиск конец
