.toggle {
   flex: none;
   display: flex;
   align-items: center;
   &.active {
      .toggle__item span {
         left: 25px;
         background: $blue;
      }
      .toggle__descr {
         color: $blue;
      }
   }
   &__item {
      width: 50px;
      height: 24px;
      border-radius: 50px;
      border: 1px solid $lightGray;
      position: relative;
      cursor: pointer;
      span {
         position: absolute;
         top: 0;
         left: 0;
         display: block;
         margin: -1px;
         width: 24px;
         height: 24px;
         border-radius: 50%;
         background: $middleGray;
      }
   }

   &__descr {
      margin-left: 10px;
      color: $lightGray;
      @media (max-width: 767.98px) {
         display: none;
      }
   }
}
