$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-check: "\e900";
$icon-close: "\e901";
$icon-corner-cap: "\e902";
$icon-eye: "\e903";
$icon-eye-closed: "\e904";
$icon-humans: "\e905";
$icon-info: "\e906";
$icon-kindergarten: "\e907";
$icon-link: "\e908";
$icon-lock: "\e909";
$icon-mail: "\e90a";
$icon-mobile: "\e90b";
$icon-person: "\e90c";
$icon-school: "\e90d";
$icon-search: "\e90e";
$icon-triangle-down: "\e90f";
$icon-triangle-left: "\e910";

