$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-burger: "\e911";
$icon-triangle-up: "\e912";
$icon-exit: "\e913";
$icon-bell: "\e914";
$icon-triangle-right: "\e915";
$icon-comments: "\e916";
$icon-exclamation: "\e917";
$icon-blackboard: "\e918";
$icon-voting: "\e919";
$icon-calendar: "\e91a";
$icon-folder: "\e91b";
$icon-finance: "\e91c";
$icon-chat: "\e91d";
$icon-main-page: "\e91f";
$icon-swap: "\e91e";
$icon-check: "\e900";
$icon-close: "\e901";
$icon-corner-cap: "\e902";
$icon-eye: "\e903";
$icon-eye-closed: "\e904";
$icon-humans: "\e905";
$icon-info: "\e906";
$icon-kindergarten: "\e907";
$icon-link: "\e908";
$icon-lock: "\e909";
$icon-mail: "\e90a";
$icon-mobile: "\e90b";
$icon-person: "\e90c";
$icon-school: "\e90d";
$icon-search: "\e90e";
$icon-triangle-down: "\e90f";
$icon-triangle-left: "\e910";

